<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
<br>
        <h1 class=" text-uppercase fw-bold">Productos Nutricionales para Entrenamiento</h1>
        <!--main content-->
        <br>
        <h2> Productos Nutricionales para Fisicoculturistas </h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Biocros</small></h3>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Biocros Supreme</small></h3>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Teatino</small></h3>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Teatino Supreme</small></h3>
                <p>Producto para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-left"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Sentado en el suelo. Pierna derecha estirada. Dobla la izquierda y pásala
                        por encima de la derecha. Coloca el brazo izquierdo por encima de la rodilla flexionada y
                        presiona con el codo para hacer una torsión de espalda. Siente el estiramiento. Repite al otro
                        lado.</small></p>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Estira la pierna derecha y flexiona la izquierda llevando el pie hacia la ingle. Mantén
                        el equilibrio. Inclina el cuerpo hacia delante para intentar tocar los dedos de los pies. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Tumbado boca abajo. Flexiona una pierna y coge el pie con la mano del
                        mismo lado. Tira de ella todo lo que puedas sin que el muslo se despegue del suelo. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Coge el pie por detrás y tira de él hasta que llegue a la cabeza. No
                        bloquees la rodilla de la otra pierna para no quedar en hiperextensión y deja el brazo libre
                        estirado hacia delante para mantener el equilibrio.</small></p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Power Maker</small></h3>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Producto</small></h3>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Producto</small></h3>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Producto</small></h3>
                <p>Producto para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Productos Nutricionales para Deportistas</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Productos Nutricionales para </h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Productos Nutricionales para </h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Producto de </p>
                <p>Producto para</p>
            </div>

        </div>
        <br>
        <br>
        <br>
        <a href="/" class="btn btn-primary w-25">Ejercicios</a>
<%- include('partials/footer')%>
</body>
</html>