<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>
    <%- include('partials/navigation')%>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1 ">Cont치ctanos</h1>

                <br> <br>
                <h1 class=" text-uppercase fw-bold">Creditos del Proyecto</h1>
                <!--main content-->
                <br>
                <h2>Persona que conformaron para la realizaci칩n del proyecto</h2>
                <header class="container vh-50 d-flex justify-content-center align-items-center"
                    style="position: relative;top: 60px; left: 40px;">
                    <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                        <img src="/img/image.png" alt="" width="250px" height="200px">
                        <p class="btn btn-primary w-20">Nombre </p>
                    </div>
                    <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                        <img src="/img/image.png" alt="" width="250px" height="200px">
                        <p class="btn btn-primary w-20">Nombre </p>
                    </div>
                    <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                        <img src="/img/image.png" alt="" width="250px" height="200px">
                        <p class="btn btn-primary w-20">Nombre </p>
                    </div>
                    <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                        <img src="/img/image.png" alt="" width="250px" height="200px">
                        <p class="btn btn-primary w-20">Nombre </p>
                    </div>
            </section>
        </main>
        </header>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1 ">Misi칩n</h1>
                <p>

                </p>
            </section>
        </main> <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1 ">Visi칩n</h1>
                <p>

                </p>
            </section>
        </main>
        <a href="/about" class="btn btn-primary w-25">Productos</a>
        <%- include('partials/footer')%>
</body>

</html>