<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br>
        <h1 class=" text-uppercase fw-bold">Ejercicios de Entrenamiento</h1>
        <!--main content-->
        <br>
        <h2>Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Torsión de espalda</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio Sentado</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Muslos y cadera</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Más difícil todavía</small></h3>

            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-left"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Sentado en el suelo. Pierna derecha estirada. Dobla la izquierda y pásala
                        por encima de la derecha. Coloca el brazo izquierdo por encima de la rodilla flexionada y
                        presiona con el codo para hacer una torsión de espalda. Siente el estiramiento. Repite al otro
                        lado.</small></p>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Estira la pierna derecha y flexiona la izquierda llevando el pie hacia la ingle. Mantén
                        el equilibrio. Inclina el cuerpo hacia delante para intentar tocar los dedos de los pies. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Tumbado boca abajo. Flexiona una pierna y coge el pie con la mano del
                        mismo lado. Tira de ella todo lo que puedas sin que el muslo se despegue del suelo. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Coge el pie por detrás y tira de él hasta que llegue a la cabeza. No
                        bloquees la rodilla de la otra pierna para no quedar en hiperextensión y deja el brazo libre
                        estirado hacia delante para mantener el equilibrio.</small></p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Lumbares</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Abductores</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Zancada en sofá</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de El puente</small></h3>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-left"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Estira una pierna y encoge la otra cogiéndote de la rodilla y tirando de ella hacia
                    el pecho. La pierna estirada no debe levantarse del suelo. Cambia de pierna.</small></p>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small> Sentado en el suelo. Abre las piernas estiradas lo más que puedas e inclina el
                    torso hacia delante, sin doblar las rodillas. Estira los brazos e intenta bajar un poco más.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Una pierna se adelanta, como en las zancadas normales, con la rodilla en
                    90 grados y la otra está estirada hacia atrás, pero apoyada en un sofá o en una silla. Es difícil
                    mantener la posición. Aguanta y cambia de lado.
                    </small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Es una postura de yoga y estira columna, pecho, cuello y hombros. Boca arriba en
                    el suelo con las rodillas flexionadas. Levanta la pelvis y el torso hasta los hombros. Estira los
                    hombros hacia abajo para que queden bien apoyados en el suelo. Mirada al techo y brazos
                    estirados y apoyados en el suelo.</small></p>
            </div>

        </div>
        <br>
        <br>
        <h2>Ejercicios de Entrenamiento para Equilibrio</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Pararse en T</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Equilibrio sobre una sola pierna</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -21px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Equilibrio sobre una sola pierna con movimiento</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Equilibrio de los Bíceps</small></h3>

            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-left"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Sentado en el suelo. Pierna derecha estirada. Dobla la izquierda y pásala
                        por encima de la derecha. Coloca el brazo izquierdo por encima de la rodilla flexionada y
                        presiona con el codo para hacer una torsión de espalda. Siente el estiramiento. Repite al otro
                        lado.</small></p>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Estira la pierna derecha y flexiona la izquierda llevando el pie hacia la ingle. Mantén
                        el equilibrio. Inclina el cuerpo hacia delante para intentar tocar los dedos de los pies. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Tumbado boca abajo. Flexiona una pierna y coge el pie con la mano del
                        mismo lado. Tira de ella todo lo que puedas sin que el muslo se despegue del suelo. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Coge el pie por detrás y tira de él hasta que llegue a la cabeza. No
                        bloquees la rodilla de la otra pierna para no quedar en hiperextensión y deja el brazo libre
                        estirado hacia delante para mantener el equilibrio.</small></p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Lumbares</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Abductores</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Zancada en sofá</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de El puente</small></h3>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-left"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Estira una pierna y encoge la otra cogiéndote de la rodilla y tirando de ella hacia
                    el pecho. La pierna estirada no debe levantarse del suelo. Cambia de pierna.</small></p>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small> Sentado en el suelo. Abre las piernas estiradas lo más que puedas e inclina el
                    torso hacia delante, sin doblar las rodillas. Estira los brazos e intenta bajar un poco más.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Una pierna se adelanta, como en las zancadas normales, con la rodilla en
                    90 grados y la otra está estirada hacia atrás, pero apoyada en un sofá o en una silla. Es difícil
                    mantener la posición. Aguanta y cambia de lado.
                    </small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>¿Cómo se realiza?</small></h4>
                <p><small>Es una postura de yoga y estira columna, pecho, cuello y hombros. Boca arriba en
                    el suelo con las rodillas flexionadas. Levanta la pelvis y el torso hasta los hombros. Estira los
                    hombros hacia abajo para que queden bien apoyados en el suelo. Mirada al techo y brazos
                    estirados y apoyados en el suelo.</small></p>
            </div>

        </div>
        <br>
        <br>
        <h2>Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <h1 class=" text-uppercase fw-bold">Rutinas de Ejercicios de Entrenamiento</h1>
        <!--main content-->
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <h1 class=" text-uppercase fw-bold">Blog de curiosidades sobre los ejercicios de Entrenamiento</h1>
        <!--main content-->
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <h1 class=" text-uppercase fw-bold">Visualización de Ejercicios de Entrenamiento</h1>
        <!--main content-->
        <br>
        <h2>Visualización de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Visualización de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Visualización de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Visualización de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <br>
    
        <a href="/about" class="btn btn-primary w-25">Productos</a>
        <%- include('partials/footer')%>
</body>

</html>